<mat-grid-list cols="{{rowLength()}}" rowHeight="2:1">
    <mat-grid-tile *ngFor="let tile of boardTiles" 
      [ngClass]="{'tile': true, 'movable-tile': canTileBeMoved(tile), 'empty-tile': tile==emptyTile}"
      draggable="{{canTileBeMoved(tile)}}" 
      (dragstart)="drag($event)"
      (dragover)="allowDrop($event)"
      (drop)="drop($event)"
      id="{{tile}}">
      <span *ngIf="tile != emptyTile" class="tile-number">{{tile}}</span>
    </mat-grid-tile>
</mat-grid-list>




<ng-template [ngIf]="!isGameWon()">
    <div class="in-progress-message">Solve the puzzle !</div>
  </ng-template>
<ng-template [ngIf]="isGameWon()">
  <div class="win-message">You won</div>
</ng-template>
