.tile{
    background:lightblue;
    font-size: 36px;
}

.movable-tile{
    border-width: 10px;
    border-color: white;
}

.empty-tile{
    background:#333333;
}

h2 {
    color:white;
}

.container {
    max-height : 1000px !important;
}

button{
    margin-top:10px;
}